*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.input-head {
    background-color: black;
    color: azure;
}
.inp-block {
    border: 1px solid black;
    padding: 20px; 
}
.sub-head{
    min-height: 40px;
}
.ball-text {
    display: inline-block;
    width : 60px;
}

input {
    width:100px;
    height:25px;
    margin-right: 5px;
    margin-bottom: 3px;
}

.custom-btn {
    width: 200px;
}